# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/luxe_launchpad"

# Auth
AUTH_SECRET="your-secret-auth-secret"
ADMIN_EMAIL="admin@gmail.com"
ADMIN_PASSWORD="12345678"


# GCP Cloud Storage
GCP_BUCKET_NAME=your-bucket-name
GOOGLE_PROJECT_ID=your-project-id
GOOGLE_PROJECT_NUMBER=your-project-number
GOOGLE_WORKLOAD_IDENTITY_POOL=your-workload-identity-pool
GOOGLE_WORKLOAD_IDENTITY_PROVIDER=your-workload-identity-provider
GOOGLE_SERVICE_ACCOUNT=your-service-account
